<h1>Weather Checker</h1>
<div id="mainContainer">
    <h4>Choose a city to find out the weather</h4>
    <%- include("../partials/citySelect") %>
    <h2 class="infoString">Choose a City</h2>
</div>

<script>
    let citySelect = document.getElementById("citySelect");
    citySelect.addEventListener("change", ()=>getInfo());
    let infoString = document.getElementsByClassName("infoString")[0];
    getInfo = () =>{
        let req = new XMLHttpRequest();
        req.onreadystatechange = function(){
            if(this.readyState == 4 && this.status == 200){
                let data = JSON.parse(req.responseText); 
                console.log(data);  
                infoString.textContent = data.weather;
            }else if(this.readyState == 4)addErrorText(`ERROR: Cant find the weather: ${this.status}`);
        };
        req.open("GET", `/api/weather/${citySelect.value}`, true);
        req.send();
    }

    getInfo();

</script>