<nav class="flex-row" id="navigation">
    <a href="/" class="navButton">Home</a>
    <a href="/api" class="navButton">API</a>
    <a href="/city" class="navButton">City Models</a>
    <a href="/weather" class="navButton">Weather</a>
    <a href="/language" class="navButton">Language</a>
    <a href="/timezone" class="navButton">Time Zones</a>
    <a href="/exchange" class="navButton">Exchange Rates</a>
</nav>