<h1>Travelbook Group API</h1>
<div id="mainContainer">
    <div class="flex-row">
        <div class="flex-column choice">
            <h3>Check all API requests</h3>
            <a href="/api" class="otherButtonA">Check</a>
        </div>
        <div class="flex-column choice">
            <h3>Create a new city model</h3>
            <a href="/city" class="otherButtonA">Create</a>
        </div>
        <div class="flex-column choice">
            <h3>Check the weather</h3>
            <a href="/weather" class="otherButtonA">Check</a>
        </div>
        <div class="flex-column choice">
            <h3>Find the language</h3>
            <a href="/language" class="otherButtonA">Find</a>
        </div>
        <div class="flex-column choice">
            <h3>Check the time</h3>
            <a href="/timezone" class="otherButtonA">Check</a>
        </div>
        <div class="flex-column choice">
            <h3>Compare Exchange Rates</h3>
            <a href="/exchange" class="otherButtonA">Compare</a>
        </div>
    </div>
</div>