<h1>New Model</h1>
<div id="mainContainer">
    <form action="/city/auto-pop" method="POST">
        <label for="country">Country Name</label>
        <input type="text" required name="country">
        <label for="city">City Name</label>
        <input type="text" required name="city">
        <button type="submit">Continue</button>
    </form>
    <a href="/city" class="otherButtonA">Back</a>
</div>