<h1>API requests</h1>
<div id="mainContainer">
    <h3 class="apiString">/city/all - none - Returns a list of all cities</h3>
    <h3 class="apiString">/city/:name - params(name of city) - Returns a city object</h3>
    <h3 class="apiString">/weather/:id - params(id of city) - Returns the weather</h3>
    <h3 class="apiString">/language/:id - params(id of city) - Returns a list of the spoken languages</h3>
    <h3 class="apiString">/timezone/:id - params(id of city) - Returns the current time</h3>
    <h3 class="apiString">/exchange/:{obj} - params(JSON Object {id:num, base:String}) - Returns an exchange rate with a given amount</h3>
</div>